<div [ngSwitch]="movies" class="container my-5" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-md-12">
      <h2 *ngSwitchCase="movies === undefined || movies.length < 1">No movies yet!</h2>
      <div *ngSwitchDefault>
        <h2 class="my-5">Movies</h2>
        <table class="table table-striped table-responsive-md">
          <thead>
          <tr>
            <th style="width: 20%">Movie Name</th>
            <th style="width: 20%">Rating</th>
            <th style="width: 20%">Details</th>
<!--            <th style="width: 20%"></th>-->
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let movie of movies">
            <tr>
              <td>{{movie.name}}</td>
              <td>{{movieRatings.get(movie.id).rating}}</td>
              <td>
                <button class="btn btn-primary" type="button" data-toggle="collapse" attr.data-target="#accordion_{{movie.id}}"
                        attr.aria-controls="accordion_{{movie.id}}" id="collapse_{{movie.id}}" role="button" aria-expanded="false">
                  See details
                </button>
              </td>
              <td><a  class="btn btn-primary">Delete <i class="fas fa-minus-circle ml-2"></i></a></td>
            </tr>
            <tr class="collapse multi-collapse" id="accordion_{{movie.id}}">
              <td colspan="4">

                  <div class="card card-body">
                    <p>
                      <strong>Description</strong>
                    </p>
                    {{movie.description}}
                  </div>
                <app-reviews [movieId]="movie.id" (dataChangedEvent)="reloadData($event)"></app-reviews></td>
            </tr>
          </ng-container>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
