<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap::head">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Update Review</h2>
    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/update}" th:object="${movieReview}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="movieName" class="col-form-label">MovieName</label>
                        <input type="text" th:field="*{movieName}" class="form-control" id="movieName" placeholder="MovieName">
                        <span th:if="${#fields.hasErrors('movieName')}" th:errors="*{movieName}" class="alert alert-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="review" class="col-form-label">Review</label>
                        <input type="text" th:field="*{review}" class="form-control" id="review" placeholder="Review">
                        <span th:if="${#fields.hasErrors('review')}" th:errors="*{review}" class="alert alert-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Update Review">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
